<!DOCTYPE html>
<html>
 <body>
    <table>
      <tbody>
          <tr><td><h5>Title:</h5></td><td><%= @book.title %></td></tr>
          <tr><td><h5>Body:</h5></td><td><%= @book.body %></td></tr>
      </tbody>
    </table>
    
       
    <%= link_to "Edit", edit_book_path, class:"link" %>
         |
    <%= link_to "Back", books_path, class:"link" %>
  </body>
</html>