// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin-left: 50px;
}

.link {
  color: black;
  cursor: pointer;
}

.link:hover {
  background-color: black;
  color: #FFF;
}

.flash {
  color: green;
  font-size: 20px;
}

.body {
  margin-top: 50px;
}