// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
  margin-left: 30px;
  font-weight: bold;
}

span {
 font-weight: bold;
}

p 
{
  margin-left: 60px;
  margin-bottom: 30px;
  font-size: 13px;
}

.start {
  margin-left: 60px;
  font-size: 13px;
  color: #696969;
  cursor: pointer;
}

.start:hover{
  background-color: black;
  color: #FFF;
}